* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    display: inline-block;
    width: 620px;
    height: 924px;
    position: relative;
    margin: auto;
}

.immagine-box {
    display: inline-block;
}

.heart {
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 20px;
    background-color: white;
    padding: 20px;
}

.sconto {
    background-color: lightcoral;
    position: absolute;
    left: 0;
    bottom: 80px;
    padding: 5px;
}

.sostenibilità {
    background-color: lightgreen;
    position: absolute;
    bottom: 80px;
    left: 50px;
    padding: 5px;
}

.red {
    color: red;
}

.img {
    display: none;
}

.levi:hover {
    display: none;
}

.resize {
    width: 618px;
    height: 920px;
}

.marca {
    color: grey;
}

.lineover {
    text-decoration: line-through;
}